# BookSummaries' Data:
BookSummaries/booksummaries.txt
BookSummaries/README

# MovieSummaries' Data:
MovieSummaries/DataSplit/
MovieSummaries/movie.metadata.tsv
MovieSummaries/plot_summaries.txt
MovieSummaries/README.txt
MovieSummaries/.goutputstream-4OF8WZ

# DataSplit.tar.gz
DataSplit.tar.gz

